{% extends "_conf-layout" %}

{% block content %}

    <div id="intro" class="container introCont">
        <div class="row">
            <div class="col-xs-12 soto sotoLogo hidden-sm hidden-md hidden-lg wow fadeInDown" data-wow-delay="0.2s">
                <svg width="104px" viewBox="621 205 104 681" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="soto" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(621.666486, 205.794862)">
                        <path d="M0.0537377153,679.464631 L102.794593,679.464631 L102.794593,582.595329 L0.0537377153,582.595329 L0.0537377153,679.464631 Z M13.5277627,666.058486 L89.3205677,666.058486 L89.3205677,595.995818 L13.5277627,595.995818 L13.5277627,666.058486 Z" id="Fill-1" fill="#8B6E4A"></path>
                        <polygon id="o" fill="#8B6E4A" points="58.1614606 388.619147 44.6846072 388.619147 0.00028283008 388.619147 0.00028283008 402.022464 44.6846072 402.022464 44.6846072 485.494106 58.1614606 485.494106 58.1614606 402.022464 102.845785 402.022464 102.845785 388.619147"></polygon>
                        <path d="M0.0537377153,291.517923 L102.794593,291.517923 L102.794593,194.648621 L0.0537377153,194.648621 L0.0537377153,291.517923 Z M13.5277627,278.111777 L89.3205677,278.111777 L89.3205677,208.04911 L13.5277627,208.04911 L13.5277627,278.111777 Z" id="Fill-3" fill="#8B6E4A"></path>
                        <polygon id="o" fill="#8B6E4A" points="0.00254547072 0.671589944 0.00254547072 54.426275 89.2665471 54.426275 89.2665471 84.0385844 0.00254547072 84.0385844 0.00254547072 97.5437208 102.845219 97.5437208 102.845219 41.0257858 13.4765705 41.0257858 13.4765705 14.0749075 102.845219 14.0749075 102.845219 0.671589944"></polygon>
                    </g>
                </svg>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 wow fadeInDown" data-wow-delay="0.4s">
                <h1>Success</h1>
                <p>{{ entry.body }}</p>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 soto hidden-xs wow fadeInDown" data-wow-delay="0.8s">
                <svg width="104px" viewBox="621 205 104 681" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="soto" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(621.666486, 205.794862)">
                        <path d="M0.0537377153,679.464631 L102.794593,679.464631 L102.794593,582.595329 L0.0537377153,582.595329 L0.0537377153,679.464631 Z M13.5277627,666.058486 L89.3205677,666.058486 L89.3205677,595.995818 L13.5277627,595.995818 L13.5277627,666.058486 Z" id="Fill-1" fill="#8B6E4A"></path>
                        <polygon id="o" fill="#8B6E4A" points="58.1614606 388.619147 44.6846072 388.619147 0.00028283008 388.619147 0.00028283008 402.022464 44.6846072 402.022464 44.6846072 485.494106 58.1614606 485.494106 58.1614606 402.022464 102.845785 402.022464 102.845785 388.619147"></polygon>
                        <path d="M0.0537377153,291.517923 L102.794593,291.517923 L102.794593,194.648621 L0.0537377153,194.648621 L0.0537377153,291.517923 Z M13.5277627,278.111777 L89.3205677,278.111777 L89.3205677,208.04911 L13.5277627,208.04911 L13.5277627,278.111777 Z" id="Fill-3" fill="#8B6E4A"></path>
                        <polygon id="o" fill="#8B6E4A" points="0.00254547072 0.671589944 0.00254547072 54.426275 89.2665471 54.426275 89.2665471 84.0385844 0.00254547072 84.0385844 0.00254547072 97.5437208 102.845219 97.5437208 102.845219 41.0257858 13.4765705 41.0257858 13.4765705 14.0749075 102.845219 14.0749075 102.845219 0.671589944"></polygon>
                    </g>
                </svg>
            </div>
        </div>
    </div>

{% endblock %}
