{% extends "_contact-layout" %}

{% block content %}

    <div class="container introCont">
        <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-5 contactDetails">
                <h1>{{ entry.introTitle }}</h1>
                <p class="contactTitle">Sales Enquiries</p>
                <p>{{ entry.phone }}</p>
                {#<p class="contactTitle">Display Suite Open</p>
                <p>{{ entry.openHours|nl2br }}</p>#}

                {% if entry.map|length %}
				    {% for asset in entry.map %}
                        <p class="contactTitle">
				             <a href="{{ asset.url }}" target="_blank" rel="noreferrer noopener" >Download Map</a>
                        </p>
				    {% endfor %}
				{% endif %}
                <p>{{ entry.location|nl2br }}</p>

                <h2>Register your interest</h2>
                <form accept-charset="UTF-8" action="https://www.colliersform.co.nz/sign-up" method="POST" id="DesktopForm" autocomplete="off">
                    <input type="hidden" name="{{ craft.config.csrfTokenName }}" value="{{ craft.request.csrfToken }}">
                    <input type="hidden" name="utf8" value="✓">
                    <input type="hidden" name="redirect" value="https://soto.co.nz/confirmation"/>
                    <input type="hidden" name="Project" value="SOTO">
    				<div class="row">
    					<div class="col-lg-6">
    						<input type="text" name="FirstName" placeholder="First Name">
    					</div>
    					<div class="col-lg-6">
    						<input type="text" name="LasteName" placeholder="Last Name">
    					</div>
    				</div>
    				<input type="email" name="Emailaddress" id="email" placeholder="Email">
    				<input type="tel" name="PhoneNumber" placeholder="Phone">
    				<input type="text" name="Suburb" id="Suburb" placeholder="Suburb">
    				<input type="text" name="State" id="State" placeholder="City">

                    <h4 class="selectOpt">How did you hear about Soto</h4>

    				<select name="hearaboutus" placeholder="Choose an option..." data-placeholder="Choose an option..." id="choose-one" class="chosen-select">
                        <option></option>
                        <option value="Colliers International">Colliers International</option>
                        <option value="NZ Herald">NZ Herald</option>
                        <option value="Denizen">Denizen</option>
                        <option value="Property Press">Property Press</option>
                        <option value="Radio">Radio</option>
                        <option value="Facebook">Facebook</option>
                        <option value="trademe.co.nz">trademe.co.nz</option>
                        <option value="realestate.co.nz">realestate.co.nz</option>
                        <option value="nzherald.co.nz">nzherald.co.nz</option>
                        <option value="stuff.co.nz">stuff.co.nz</option>
                        <option value="google.co.nz">google.co.nz</option>
                        <option value="hougarden.com">hougarden.com</option>
                        <option value="Signage">Signage</option>
                        <option value="Referral">Referral</option>
                        <option value="Paperboy">Paperboy</option>
                        <option value="Central Leader">Central Leader</option>
                        <option value="East and Bays Courier">East &amp; Bays Courier</option>
                        <option value="The Hobson Magazine">The Hobson Magazine</option>
                        <option value="Other">Other</option>
    	            </select>

                    <h4 class="selectOpt">Purchase Intention</h4>

                    <select name="PropertyUse" placeholder="Choose an option..." data-placeholder="Choose an option..." id="choose-two" class="chosen-select final">
                        <option></option>
    					<option value="Principal place of residence">Owner Occupier</option>
    					<option value="Investment property">Investor</option>
                        <option value="First Home Buyer">First Home Buyer</option>
    	            </select>

                    <h3>Interested In</h3>

                    <ul class="purchIntBud">
                        <li>
                            <input type="radio" name="Noofbedrooms" value="1" id="one-bed" class="valueChangedOne">
                            <label for="one-bed">1 Bedroom</label>
                        </li>
                        <li>
                            <input type="radio" name="Noofbedrooms" value="99" id="one-bed-multi" class="valueChangedTwoOne">
                            <label for="one-bed-multi">1 Bedroom + Multi-purpose room</label>
                        </li>
                        <li>
                            <input type="radio" name="Noofbedrooms" value="2" id="two-bed" class="valueChangedTwoTwo">
                            <label for="two-bed">2 Bedrooms</label>
                        </li>
                        <li>
                            <input type="radio" name="Noofbedrooms" value="3" id="three-bed" class="valueChangedTwoThree">
                            <label for="three-bed">3 Bedrooms</label>
                        </li>
                    </ul>

                    <h3 class="budget remove">Budget Indication</h3>

                    <ul class="purchIntBud">
                        <li class="price-range-a remove">
                            <input type="radio" name="Minpreferredpricerange" value="$600,000 - $800,000" id="600-800">
                            <label for="600-800">$600,000 - $800,000</label>
                        </li>
                        <li class="price-range-a remove">
                            <input type="radio" name="Minpreferredpricerange" value="$800,000 - $1,000,000" id="800-1000-a">
                            <label for="800-1000-a">$800,000 - $1,000,000</label>
                        </li>
                        <li class="price-range-b remove">
                            <input type="radio" name="Minpreferredpricerange" value="$800,000 - $1,000,000" id="800-1000-b">
                            <label for="800-1000-b">$800,000 - $1,000,000</label>
                        </li>
                        <li class="price-range-b remove">
                            <input type="radio" name="Minpreferredpricerange" value="$1,000,000 - $1,200,000" id="1000-1200-b">
                            <label for="1000-1200-b">$1,000,000 - $1,200,000</label>
                        </li>
                        <li class="price-range-b remove">
                            <input type="radio" name="Minpreferredpricerange" value="$1,200,000 - $1,400,000" id="1200-1400">
                            <label for="1200-1400">$1,200,000 - $1,400,000</label>
                        </li>
                        <li class="price-range-c remove">
                            <input type="radio" name="Minpreferredpricerange" value="$1,500,000 - $2,000,000" id="1500-2000">
                            <label for="1500-2000">$1,500,000 - $2,000,000</label>
                        </li>
                        <li class="price-range-c remove">
                            <input type="radio" name="Minpreferredpricerange" value="$2,000,000 - $2,500,000" id="2000-2500">
                            <label for="2000-2500">$2,000,000 - $2,500,000</label>
                        </li>
                        <li class="price-range-c remove">
                            <input type="radio" name="Minpreferredpricerange" value="$2,500,000 - $3,000,000" id="2500-3000">
                            <label for="2500-3000">$2,500,000 - $3,000,000</label>
                        </li>
                        <li class="price-range-d remove">
                            <input type="radio" name="Minpreferredpricerange" value="$2,000,000 - $3,000,000" id="2000-3000">
                            <label for="2000-3000">$2,000,000 - $3,000,000</label>
                        </li>
                        <li class="price-range-d remove">
                            <input type="radio" name="Minpreferredpricerange" value="$3,000,000 - $4,000,000" id="3000-4000">
                            <label for="3000-4000">$3,000,000 - $4,000,000</label>
                        </li>
                        <li class="price-range-d remove">
                            <input type="radio" name="Minpreferredpricerange" value="$4,000,000 - $5,000,000" id="4000-5000">
                            <label for="4000-5000">$4,000,000 - $5,000,000</label>
                        </li>
                    </ul>

                    <div id="errordivDesktopForm">
        		    </div>

                    <button type="submit" id="submitButton">Submit</button>
					<p class="small">{{ entry.disclaimer }}</p>

					<div class="partnerLogos">
						<img src="/assets/img/colliers-logo.png" class="colliers partners" alt="Colliers International" title="Colliers International" />
						<img src="/assets/img/southside-logo.png" class="southside partners" alt="Southside" title="Southside" />
					</div>
    			</form>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-7 soto hidden-xs">
    			<svg width="104px" viewBox="621 205 104 681" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    			    <g id="soto" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(621.666486, 205.794862)">
    			        <path d="M0.0537377153,679.464631 L102.794593,679.464631 L102.794593,582.595329 L0.0537377153,582.595329 L0.0537377153,679.464631 Z M13.5277627,666.058486 L89.3205677,666.058486 L89.3205677,595.995818 L13.5277627,595.995818 L13.5277627,666.058486 Z" id="Fill-1" fill="#8B6E4A"></path>
    			        <polygon id="o" fill="#8B6E4A" points="58.1614606 388.619147 44.6846072 388.619147 0.00028283008 388.619147 0.00028283008 402.022464 44.6846072 402.022464 44.6846072 485.494106 58.1614606 485.494106 58.1614606 402.022464 102.845785 402.022464 102.845785 388.619147"></polygon>
    			        <path d="M0.0537377153,291.517923 L102.794593,291.517923 L102.794593,194.648621 L0.0537377153,194.648621 L0.0537377153,291.517923 Z M13.5277627,278.111777 L89.3205677,278.111777 L89.3205677,208.04911 L13.5277627,208.04911 L13.5277627,278.111777 Z" id="Fill-3" fill="#8B6E4A"></path>
    			        <polygon id="o" fill="#8B6E4A" points="0.00254547072 0.671589944 0.00254547072 54.426275 89.2665471 54.426275 89.2665471 84.0385844 0.00254547072 84.0385844 0.00254547072 97.5437208 102.845219 97.5437208 102.845219 41.0257858 13.4765705 41.0257858 13.4765705 14.0749075 102.845219 14.0749075 102.845219 0.671589944"></polygon>
    			    </g>
    			</svg>
    		</div>
        </div>
    </div>

{% endblock %}
