{% extends "_layout" %}

{% block content %}

    <div class="container-fluid mainGallery">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <ul class="royalSlider rsDefault hidden-xs">
				{% for block in entry.horizontalGallery %}
					{% set images = block.galleryImage %}
					{% if images and images|length %}
                    {% for image in images %}
                    {% set mode = (image.getWidth() > image.getHeight()) ? "landscape" : "portrait" %}
                        <li class="{{ mode }}">
								<img src="{{ image.getUrl('generalLandscape') }}" title="{{ block.galleryCaption }}" alt="{{ block.galleryCaption }}">
							{% endfor %}
                            <div class="container rsCaption">
								<div class="row">
									<div class="col-xs-6 col-md-6 col-lg-6">
									</div>
									<div class="col-xs-2 col-md-2 col-lg-2 imgCapt">
										{{ entry.title }}
									</div>
									<div class="col-xs-4 col-md-4 col-lg-4">
										{{ block.galleryCaption }}
									</div>
								</div>
							</div>
						</li>
					{% endif %}
				{% endfor %}
				</ul>
                <ul class="hidden-sm hidden-md hidden-lg mobileSlider">
				{% for block in entry.horizontalGallery %}
					{% set images = block.galleryImage %}
					{% if images and images|length %}
                    {% for image in images %}
                    {% set mode = (image.getWidth() > image.getHeight()) ? "landscape" : "portrait" %}
						<li class="{{ mode }}">
								<img src="{{ image.getUrl('generalLandscape') }}" title="{{ block.galleryCaption }}" alt="{{ block.galleryCaption }}">
							{% endfor %}
                            <div class="container rsCaption">
								<div class="row">
									<div class="col-xs-12 col-md-4 col-lg-4">
										{{ block.galleryCaption }}
									</div>
								</div>
							</div>
						</li>
					{% endif %}
				{% endfor %}
				</ul>
            </div>
        </div>
    </div>

{% endblock %}
