// Base Styles
//––––––––––––––––––––––––––––––––––––––––––––––––––
// NOTE
// html is set to 62.5% so that all the REM measurements throughout Skeleton
// are based on 10px sizing. So basically 1.5rem = 15px :)

:root{
    html {
      font-size: 62.5%;
    }

    body {
      font-size: 1.5em; // currently ems cause chrome bug misinterpreting rems on body element
      line-height: 1.6;
      font-weight: 400;
      font-family: $font-light;
      color: $font-color;
      background-color: $background;
    }

    img{
        width: 100%;
    }

    ul, li{
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .galleryLabel{
        display: none;
    }
}

:root{
    body.gallery-page{
        background: $white;
        .upArrow{
            display: none;
        }
    }
}

:root{
    a, a:visited{
        color: $primary-color;
        text-decoration: none;
        &:hover, &:active, &:focus{
            text-decoration: none;
            color: $primary-color;
        }
    }
}

.wow { visibility: hidden; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

// Navigation
//––––––––––––––––––––––––––––––––––––––––––––––––––

nav.regMen{
    position: fixed;
    top: 0;
    z-index: 988;
    width: 100%;
    color: $primary-color;
    font-size: 1.6rem;
    font-family: $font-regular;
    padding: 5rem 8.5rem 0 5.3rem;
    @media (max-width: 1650px) {
        padding: 5rem 8.5rem 0 5.3rem;
    }
    @media (max-width: 1200px){
        padding: 3rem 6.5rem 0 3rem;
    }
    @media screen and (max-width: 768px) {
        padding: 3rem 6rem 0 3rem;
    }
    .reg{
        width: 50%;
        float: left;
        text-align: left;
        &.open{
            span{
                opacity: 0;
                display: none;
                @media screen and (max-width: 768px){
                    opacity: 1;
                }
            }
        }
    }
    .men{
        width: 50%;
        float: right;
        text-align: right;
        .menu{
            cursor: pointer;
            #navIcon{
                width: 15px; //60px;
                height: 14px; //45px;
                position: absolute;
                margin: 0;
                top: 5.38rem;
                right: 5.3rem;
                transform: rotate(0deg);
                transition: .5s ease-in-out;
                z-index: 999;
                cursor: pointer;
                @media (max-width: 1200px){
                    top: 3.38rem;
                    right: 3rem;
                }
                @media screen and (max-width: 768px) {
                    top: 3.38rem;
                    right: 3rem;
                }
                span{
                    display: block;
                    position: absolute;
                    height: 1px;
                    width: 100%;
                    //background: $grey;
                    border-radius: 0;
                    opacity: 1;
                    left: 0;
                    transform: rotate(0deg);
                    transition: .25s ease-in-out;
                    background: $primary-color;
                    &:nth-child(1){
                        top: 0;
                    }
                    &:nth-child(2), &:nth-child(3){
                        top: 6px;
                    }
                    &:nth-child(4){
                        top: 12px;
                    }
                }
            }
        }
        .menu.but.open{
            span{
                opacity: 0;
            }
            #navIcon{
                span{
                    &:nth-child(1){
                        transform: rotateZ(45deg) scaleX(1) translate(2.4px, 7.4px);
                    }
                    &:nth-child(2), &:nth-child(3){
                        opacity: 0;
                    }
                    &:nth-child(4){
                        transform: rotateZ(-45deg) scaleX(1) translate(1px, -6px);
                    }
                }
            }
        }
    }
}

.sotoLink{
    position: fixed;
    z-index: 999;
    left: 5.3rem;
    bottom: 5rem;
    font-family: $font-regular;
    font-size: 1.6rem;
    @media (max-width: 1200px){
        left: 3rem;
        bottom: 3rem;
    }
}

.upArrow{
    position: fixed;
    right: 5.3rem;
    bottom: 5rem;
    width: 2.4rem;
    z-index: 999;
    @media (max-width: 1200px){
        right: 3rem;
        bottom: 3.5rem;
    }
    img{
        width: 2.4rem;
        display: block;
    }
}

.fullMenu{
    height: 0;
    nav{
        display: none;
        &.gation{
            display: none;
            margin: 20% 0 0;
            font-size: 8rem;
            line-height: 9.2rem;
            @media (max-width: 1650px) {
                font-size: 4rem;
                line-height: 5.2rem;
            }
            ul{
                margin: 0;
                padding: 0;
                li{
                    list-style: none;
                    color: $primary-color;
                    &:hover{
                        font-family: $font-regular;
                    }
                }
            }
        }
    }
}

.soto-page{
    .fullMenu{
        nav{
            li{
                &:first-child{
                    font-family: $font-regular;
                }
            }
        }
    }
}

.pavilions-page{
    .fullMenu{
        nav{
            li{
                &:nth-child(2){
                    font-family: $font-regular;
                }
            }
        }
    }
}

.story-page{
    .fullMenu{
        nav{
            li{
                &:nth-child(3){
                    font-family: $font-regular;
                }
            }
        }
    }
}

.location-page{
    .fullMenu{
        nav{
            li{
                &:nth-child(4){
                    font-family: $font-regular;
                }
            }
        }
    }
    .solo.soloSingle{
        margin: 0 5.3rem 12rem;
        @media screen and (max-width: 1200px){
            margin: 0 3rem 12rem;
        }
        .col-md-12, .col-lg-12{
            padding: 0;
        }
    }
}

.register-page{
    .fullMenu{
        nav{
            li{
                &:nth-child(5){
                    display: none;
                    font-family: $font-regular;
                    @media screen and (max-width: 768px) {
                        display: list-item;
                    }
                }
            }
        }
    }
    .chosen-container{
        border-bottom: 1px solid $primary-color;
    }
}

.gallery-page{
    .fullMenu{
        nav{
            li{
                &:nth-child(6){
                    font-family: $font-regular;
                }
            }
        }
    }
}

.fullMenu.openMenu{
    height: 100vh;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: $menu-back;
    z-index: 888;
    transition: background 0.4s ease;
    nav{
        display: block;
    }
    @media screen and (max-width: 768px){
        .container{
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }
}

.register{
    cursor: pointer;
}

.registerMenu{
    padding: 0;
    height: 0;
    width: 0;
    opacity: 0;
    transition: background 0.4s ease;
    .contactDetails{
        display: none;
    }
}

.registerMenu{
    &.openRegister{
        opacity: 1;
        width: 52.5rem;
        padding: 5.3rem 5.3rem 6rem;
        height: 100%;
        background: $menu-back;
        position: fixed;
        overflow-y: auto;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 9999;
        transform: translateZ(0);
        backface-visibility: hidden;
        @media screen and (max-width: 1200px){
            padding: 3rem 3rem 6rem;
        }
        @media screen and (max-width: 768px){
            width: 100%;
        }
        .regClose{
            color: $primary-color;
            text-align: right;
            width: auto;
            position: absolute;
            right: 5.3rem;
            top: 5rem;
            cursor: pointer;
            @media screen and (max-width: 1200px){
                right: 3rem;
                top: 3rem;
            }
            p{
                font-size: 1.6rem;
                font-family: $font-regular;
                padding-right: 3.2rem;
                @media screen and (max-width: 1200px){
                    padding-right: 3.5rem;
                }
            }
            #regNavIcon{
                width: 15px; //60px;
                height: 14px; //45px;
                position: absolute;
                margin: 0;
                top: 0.9rem;
                right: -0.6rem;
                transform: rotate(0deg);
                transition: .5s ease-in-out;
                z-index: 999;
                cursor: pointer;
                span{
                    display: block;
                    position: absolute;
                    height: 1px;
                    width: 100%;
                    border-radius: 0;
                    opacity: 1;
                    left: 0;
                    background: $primary-color;
                    &:nth-child(1){
                        transform: rotateZ(45deg) scaleX(1) translate(-5.4px, 7.8px);
                    }
                    &:nth-child(2), &:nth-child(3){
                        opacity: 0;
                    }
                    &:nth-child(4){
                        transform: rotateZ(-45deg) scaleX(1) translate(-8.2px, -5.6px);
                    }
                }
            }
        }
        .contactDetails{
            display: block;
        }
    }
}

body{
    &.stillPage{
        position: fixed;
        overflow-y: hidden;
        #container{
            @media screen and (max-width: 768px) {
                overflow-y: hidden;
            }
        }
    }
}

.soto-page{
    .imgIntro{
        @media screen and (max-width: 768px) {
            background: none;
            height: auto;
            img{
                display: block;
            }
        }
    }
}

.imgIntro{
    position: relative;
    max-height: 100vh;
    img{
        display: none;
    }
    .downArrow{
        position: absolute;
        left: 0;
        margin-left: auto;
        right: 0;
        margin-right: auto;
        bottom: 5.3rem;
        width: 8rem;
        @media screen and (max-width: 1200px){
            border-bottom: 3rem;
        }
        @media screen and (max-width: 768px) {
            display: none;
        }
        img{
            width: 8rem;
            display: block;
        }
    }
}

// Intro
//––––––––––––––––––––––––––––––––––––––––––––––––––

:root{
    .container{
        @media (min-width: 1200px){
            width: 60%;
        }
        &.introCont{
            margin: 27.6rem auto;
            @media screen and (max-width: 768px) {
                margin: 12rem auto;
                padding: 0 3rem;
                &.solo{
                    margin: 8rem auto 2rem;
                    &.soloSingle{
                        margin: 8rem auto 11rem;
                    }
                    .soloLeft{
                        margin-bottom: 8rem;
                    }
                    .soloLeft, .soloRight{
                    }
                }
            }
            h1{
                margin-bottom: 5rem;
                @media screen and (max-width: 768px) {
                    line-height: 2.4rem;
                }
            }
            .soto{
                text-align: right;
                @media screen and (max-width: 768px) {
                    &.sotoLogo{
                        margin-bottom: 8rem;
                    }
                }
                svg{
                    width: 5.4rem;
                    @media (min-width: 1200px){
                        width: 8rem;
                    }
                }
            }
        }
    }
}

body{
    .row{
        div{
            &.imgCapt{
                padding-left: 0;
                @media screen and (max-width: 768px) {
                    padding-left: 15px;
                }
            }
        }
    }
}

// White Gallery
//––––––––––––––––––––––––––––––––––––––––––––––––––

.container-fluid{
    &.whiteGallery{
        background: $white;
        padding: 5.5rem 14.5rem 0;
        overflow-x: hidden;
        @media (max-width: 1200px){
            padding: 5.5rem 10rem 0;
        }
        @media screen and (max-width: 768px) {
            padding: 5rem 3rem 0;
        }
        ul.royalSlider.rsDefault{
            width: 100% !important;
            position: initial;
            //height: 100vh !important;
            line-height: 0;
            list-style: none;
            background: $white;
            padding: 0;
            margin: 0;
            //overflow: hidden;
            @media screen and (max-width: 768px) {
                min-height: inherit;
            }
            li.portrait{
                width: 50%;
                float: right;
            }
            .rsArrow{
                height: 100%;
                width: 37px;
                position: absolute;
                cursor: pointer;
                z-index: 21;
                opacity: 1;
                visibility: visible;
                @media screen and (max-width: 768px) {
                    display: none;
                    visibility: hidden;
                }
                &.rsArrowLeft{
                    left: -9rem;
                    top: 0;
                    @media (max-width: 1200px){
                        left: -7rem;
                    }
                    .rsArrowIcn{
                    }
                }
                &.rsArrowRight{
                    right: -9rem;
                    top: 0;
                    @media (max-width: 1200px){
                        right: -7rem;
                    }
                    .rsArrowIcn{
                        transform: rotate(180deg);
                    }
                }
                .rsArrowIcn{
                    width: 37px;
                    height: 28px;
                    top: 50%;
                    left: 50%;
                    margin-top: -14px;
                    margin-left: -18.5px;
                    position: absolute;
                    cursor: pointer;
                    background: url('/assets/img/arrow.svg') no-repeat;
                }
                &.rsArrowDisabled{
                    opacity: 0.25;
                }
            }
            .rsGCaption{
                text-align: left;
                margin: 6rem 0;
                .container{
                    width: 100%;
                }
                .rsCaption{
                    font-size: 1.6rem;
                    color: $primary-color;
                    .row{
                        height: 4rem;
                        line-height: 2rem;
                    }
                }
            }
            .rsSlideCount {
                position: absolute;
                font-size: 1.6rem;
                color: $primary-color;
                bottom: 9rem;
                left: 24rem;
                @media (max-width: 1200px){
                    display: none;
                }
            }
            .counter{
                position: relative;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .rsGCaption{
        text-align: left;
        margin: 6rem 0;
        .rsCaption{
            font-size: 1.6rem;
            color: $primary-color;
        }
    }
}

.gallery-page{
    .but.register{
        display: none;
    }
    .galleryLabel{
        display: block;
        position: fixed;
        z-index: 888;
        left: 5.3rem;
        top: 5rem;
        font-family: $font-regular;
        font-size: 1.6rem;
        color: $primary-color;
        @media (max-width: 1200px){
            left: 3rem;
            top: 3rem;
        }
    }
}

.container-fluid{
    &.mainGallery{
        background: $white;
        padding: 5.5rem 14.5rem 0;
        overflow-x: hidden;
        @media (max-width: 1200px){
            margin: 0;
            padding: 8.5rem 10rem 0;
        }
        @media screen and (max-width: 768px) {
            padding: 0 3rem;
        }
        .row{
            //margin-right: 0;
        }
        ul.royalSlider.rsDefault{
            width: 100% !important;
            position: initial;
            //height: 100vh !important;
            line-height: 0;
            list-style: none;
            background: $white;
            padding: 0;
            margin: 0;
            //overflow: hidden;
            @media screen and (max-width: 768px) {
                min-height: inherit;
            }
            li.portrait{
                width: 50%;
                float: right;
            }
            .rsArrow{
                height: 100%;
                width: 37px;
                position: absolute;
                cursor: pointer;
                z-index: 21;
                opacity: 1;
                visibility: visible;
                @media screen and (max-width: 768px) {
                    display: none;
                    visibility: hidden;
                }
                &.rsArrowLeft{
                    left: -9rem;
                    top: 0;
                    @media (max-width: 1200px){
                        left: -7rem;
                    }
                    .rsArrowIcn{
                    }
                }
                &.rsArrowRight{
                    right: -9rem;
                    top: 0;
                    @media (max-width: 1200px){
                        right: -7rem;
                    }
                    .rsArrowIcn{
                        transform: rotate(180deg);
                    }
                }
                .rsArrowIcn{
                    width: 37px;
                    height: 28px;
                    top: 50%;
                    left: 50%;
                    margin-top: -14px;
                    margin-left: -18.5px;
                    position: absolute;
                    cursor: pointer;
                    background: url('/assets/img/arrow.svg') no-repeat;
                }
                &.rsArrowDisabled{
                    opacity: 0.25;
                }
            }
            .rsGCaption{
                text-align: left;
                margin: 6rem 0;
                .row{
                    height: 4rem;
                    line-height: 2rem;
                }
            }
            .rsSlideCount{
                position: absolute;
                font-size: 1.6rem;
                bottom: 9rem;
                left: 24rem;
                @media (max-width: 1200px){
                    display: none;
                }
            }
            .rsGCaption, .rsSlideCount{
                color: $primary-color
            }
        }
    }
}

.gallery-page{
    ul.mobileSlider{
        padding-top: 9rem;
    }
    .regMen{
        .reg{
            display: none;
        }
    }
}

ul.mobileSlider{
    padding-top: 6rem;
    li{
        color: $primary-color;
        margin-bottom: 11rem;
        .rsCaption{
            padding: 2rem 0 0;
        }
    }
}

// Solo Images
//––––––––––––––––––––––––––––––––––––––––––––––––––

.container-fluid{
    &.contGridTitle{
        padding: 5.5rem 14.5rem 0;
        @media (max-width: 1200px){
            padding: 5.5rem 10rem 0;
        }
        @media screen and (max-width: 768px) {
            padding: 5rem 3rem 0;
        }
        color: $primary-color;
        .container{
            font-size: 1.6rem;
            width: 100%;
            @media screen and (max-width: 768px) {
                padding: 0;
            }
        }
    }
}

/*:root{
    .soto-page{
        .container{
            &.introCont.botGrid{
                margin: 4rem auto 27.6rem;
                .gridTitle{
                    color: $primary-color;
                    margin: 0 auto 23.6rem;
                }
            }
        }
    }
}*/

.story-page{
    .container{
        &.introCont{
            margin: 16.6rem auto 10.6rem;
            &.storyLast{
                margin-bottom: 18rem;
                @media screen and (max-width: 768px) {
                    margin-bottom: 3rem;
                }
            }
        }
    }
    .solo{
        .soloLeft{
            margin-top: 0;
        }
    }
}

.solo{
    .soloLeft{
        margin-top: 22%;
    }
    .soloTop{
        margin-bottom: 0;
    }
    .soloWrap{
        position: relative;
        line-height: 0;
        cursor: pointer;
        .soloOverlay{
            opacity: 0;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: rgba(139, 110, 74, 0.75);
            transition: opacity 0.2s ease;
            &:before{
                content: '';
                position: absolute;
                background: url('/assets/img/expand.svg') no-repeat;
                background-size: 2.8rem 2.8rem;
                width: 2.8rem;
                height: 2.8rem;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin-left: auto;
                margin-right: auto;
                margin-top: auto;
                margin-bottom: auto;
            }
        }
        &:hover{
            img{
                filter: grayscale(100%);
            }
            .soloOverlay{
                opacity: 1;
            }
        }
    }
}

.sotoSingle{
    margin-top: 22%;
}

// Design Story
//––––––––––––––––––––––––––––––––––––––––––––––––––

.container{
    &.desSto{
        h2, p{
            font-size: 1.7rem;
            line-height: 2.1rem;
            letter-spacing: 0.02rem;
        }
        h2{
            font-family: $font-regular;
            font-weight: normal;
            margin-bottom: 4.8rem;
        }
        p{
            font-family: $font-light;
            font-weight: normal;
        }
        .designers{
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            .stories{
                padding-bottom: 4rem;
                //min-height: 44rem;
                @media (max-width: 1650px) {
                    //min-height: 42rem;
                }
                @media screen and (max-width: 768px) {
                    padding-left: 0;
                    padding-right: 0;
                    min-height: inherit;
                }
            }
        }
    }
}

// Lightbox
//––––––––––––––––––––––––––––––––––––––––––––––––––

#swipebox-container{
	height: calc(100% - 10.6rem);
	margin-top: 5.3rem;
	@media (max-width: 1200px){
		height: calc(100% - 6rem);
		margin-top: 3rem;
	}
    .closeCont{
    	position: absolute;
    	width: 6.2rem;
    	height: 1.2rem;
        right: 5.3rem;
        &:before{
            content: 'Close';
            position: absolute;
            width: 4rem;
            right: 2.3rem;
            font-size: 1.6rem;
            line-height: 1.4rem;
            color: $primary-color;
            font-family: $font-regular;
        }
        @media (max-width: 1200px){
            right: 3rem;
        }
    }
}

.hiddenSwipe{
    display: none;
}

// Contact and Register
//––––––––––––––––––––––––––––––––––––––––––––––––––

form{
    position: relative;
}

.container, .registerMenu{
    .contactDetails{
        h1{
            color: $primary-color;
            font-family: $font-regular;
            font-size: 2.8rem;
            margin-top: 0;
        }
        h2{
            color: $primary-color;
            font-family: $font-regular;
            font-size: 2.8rem;
            line-height: 3.2rem;
            letter-spacing: 0.02rem;
            margin-top: 5rem;
        }
        h4{
            color: $primary-color;
            font-size: 1.6rem;
            margin-top: 4rem;
            letter-spacing: 0.02rem;
        }
        p{
            color: $primary-color;
            font-size: 1.6rem;
            line-height: 2.2rem;
            margin: 0;
            &.contactTitle{
                font-family: $font-regular;
                margin-top: 20px;
            }
            &.small{
                font-size: 9px;
                line-height: 11px;
                padding-top: 4rem;
            }
        }
        .partnerLogos{
            margin-top: 5rem;
            .colliers{
                width: 9rem;
                padding-right: 2rem;
            }
            .southside{
                width: 13.5rem;
            }
        }
        .social{
            margin: 3rem 0 0;
            a{
                text-decoration: underline;
            }
        }
        input[type="email"],
        input[type="number"],
        input[type="search"],
        input[type="text"],
        input[type="tel"],
        input[type="url"],
        input[type="password"]{
            padding: 2rem 0 0.6rem 0;
            margin: 0;
            background: none;
            border: none;
            color: $primary-color;
            border-bottom: 1px solid $primary-color;
            border-radius: 0;
            box-shadow: none;
            box-sizing: border-box;
            width: 100%;
        }
        ::-webkit-input-placeholder {
           color: $primary-color;
           transition: opacity 0.2s ease;
        }
        input:focus::-webkit-input-placeholder{
            opacity: 0.4;
        }
        :-moz-placeholder {
           color: $primary-color;
           transition: opacity 0.2s ease;
        }
        input:focus:-moz-placeholder{
            opacity: 0.4;
        }
        ::-moz-placeholder {
           color: $primary-color;
           transition: opacity 0.2s ease;
        }
        input:focus::-moz-placeholder{
            opacity: 0.4;
        }
        :-ms-input-placeholder {
           color: $primary-color;
           transition: opacity 0.2s ease;
        }
        input:focus:-ms-input-placeholder{
            opacity: 0.4;
        }
        button{
            border: none;
            margin: 2rem 0 0;
            padding: 0;
            color: $primary-color;
            letter-spacing: 0.02rem;
            font-family: $font-regular;
            &:after{
                position: absolute;
                content: '';
                background: url('/assets/img/arrow.svg');
                transform: rotate(180deg);
                background-size: 19px 14px;
                width: 19px;
                height: 14px;
                right: 0;
                margin-top: 0.4rem;
            }
        }
        h3{
            color: $primary-color;
            font-size: 1.5rem;
            letter-spacing: 0.02rem;
            margin: 0.8rem 0 0.8rem;
            @media screen and (max-width: 768px) {
                margin: 4rem 0 0.8rem;
            }
        }
        .purchIntBud{
            margin: 0 0 0.4rem;
            li{
                width: 100%;
                color: $primary-color;
                label{
                    padding-left: 1rem;
                    font-weight: 400;
                }
            }
        }
        .remove{
            display: none;
        }
        input[type="checkbox"],
        input[type="radio"]{
            height: 2rem;
            width: 2rem;
            display: inline-block;
            box-sizing: border-box;
            background: $menu-back;
            border: 1px solid $primary-color;
            position: relative;
            vertical-align: middle;
            margin: 0.2em 0 0.2em 0.2em;
            border-radius: 0;
            -webkit-appearance: none;
            appearance: none;
            transition: background 0.2s ease;
            &:checked{
                background: $primary-color;
            }
            &:focus{
                outline: none;
            }
        }
        #errordivDesktopForm{
            padding-top: 2rem;
            color: $primary-color;
            font-family: $font-regular;
            font-size: 1.8rem;
            label{
                display: inline;
            }
        }
    }
}

.autocomplete-suggestions{
    background: $menu-back;
    color: $primary-color;
    overflow: hidden;
    border-left: 1px solid $primary-color;
    border-right: 1px solid $primary-color;
    border-bottom: 1px solid $primary-color;
}

.autocomplete-suggestion{
    padding: 6px;
    border-bottom: 1px solid $primary-color;
    text-transform: capitalize;
}

.register-page{
    .autocomplete-suggestions{
        background: $background;
        color: $primary-color;
        overflow: hidden;
        border-left: 1px solid $primary-color;
        border-right: 1px solid $primary-color;
        border-bottom: 1px solid $primary-color;
    }

    .autocomplete-suggestion{
        padding: 6px;
        border-bottom: 1px solid $primary-color;
        text-transform: capitalize;
    }
}

/* Chosen CSS */

.register-page{
    .chosen-container-multi .chosen-choices,
    .chosen-container .chosen-drop,
    .container .contactDetails input[type="radio"]{
        background-color: $background;
    }
    .container .contactDetails input[type="radio"]:checked{
        background: $primary-color;
    }
    .reg{
        .but.register{
            display: none;
        }
    }
}

/* @group Base */
.chosen-container {
  position: relative;
  display: inline-block;
  width: 100% !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #ffffff;
}
.chosen-container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  width: 100%;
  border: none;
  border-top: 0;
  background: $menu-back;
  box-shadow: none;
  border-left: 1px solid $primary-color;
  border-right: 1px solid $primary-color;
}
.chosen-container.chosen-with-drop .chosen-drop {
  left: 0;
}
.chosen-container a {
  cursor: pointer;
}
.chosen-container .search-choice .group-name, .chosen-container .chosen-single .group-name {
  margin-right: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: normal;
  color: #999999;
}
.chosen-container .search-choice .group-name:after, .chosen-container .chosen-single .group-name:after {
  content: ":";
  padding-left: 2px;
  vertical-align: top;
}

.register-page{
    .chosen-container {
        .chosen-results {
            padding: 0;
            margin: 0;
        }
        .chosen-search{
            display: none;
        }
        .chosen-drop{
            border-top: 1px solid $primary-color;
            border-bottom: 1px solid $primary-color;
        }
    }
}

.chosen-container .chosen-results {
  color: $primary-color;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
}
.chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 5px 6px;
  list-style: none;
  line-height: 15px;
  word-wrap: break-word;
  -webkit-touch-callout: none;
  padding: 10px 0 10px 10px;
  border-bottom: 1px solid $primary-color;
}
.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
  color: $primary-color;
  &:last-child{
      border-bottom: none;
  }
}
.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default;
}
.chosen-container .chosen-results li.highlighted {
  background-color: $menu-back;
  color: rgba(139, 110, 74, 0.4)
}
.chosen-container .chosen-results li.no-results {
  color: #777;
  display: list-item;
  background: $menu-back;
}
.chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: bold;
  cursor: default;
}
.chosen-container .chosen-results li.group-option {
  padding-left: 15px;
}
.chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline;
}

/* @end */
/* @group Multi Chosen */
.chosen-container-multi .chosen-choices{
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  //min-height: 47px;
  padding-bottom: 0;
  height: auto;
  border: none;
  color: #ffffff;
  border-bottom: 1px solid $primary-color;
  background-color: $menu-back;
  cursor: pointer;
}
form{
    select{
        color: $primary-color;
        background: none;
        border-radius: 0;
        border-left: none;
        border-top: none;
        border-right: none;
        border-bottom: 1px solid $primary-color;
        padding: 2rem 0 0.6rem 0;
        height: auto;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        &:focus{
            border-left: none;
            border-top: none;
            border-right: none;
        }
        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
}
.chosen-container-multi .chosen-choices:before{
  content: '';
  position: absolute;
  width: 22px;
  height: 10px;
  background: url('/assets/img/drop-down.svg') no-repeat;
  background-size: 22px 10px;
  right: 0;
  bottom: 0.8rem;
}
#choose_two_chosen{
  margin-top: -0.6rem;
  margin-bottom: 3.6rem;
}
.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none;
}
.chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  width: 50%;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 0;
  padding: 2rem 0 0.6rem 0;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  box-shadow: none;
  color: $primary-color;
  border-radius: 0;
  width: 100% !important;
}
.chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 0 0.4rem 0 0;
  //font-size: 1.8rem;
  padding: 1.4rem 0.6rem 0 0;
  border: none;
  max-width: 100%;
  border-radius: 0;
  background-color: $menu-back;
  box-shadow: none;
  color: $primary-color;
  cursor: default;
}
.chosen-container-multi .chosen-choices li:nth-last-child(2) span:after{
  content: '' !important;
  opacity: 0;
}
.chosen-container-multi .chosen-choices li.search-choice span {
  word-wrap: break-word;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  /*background: url('/uploads/cross.svg') 0 0 no-repeat;*/
}
.chosen-container-multi .chosen-choices li.search-choice span:after{
  content: ',';
  position: absolute;
  right: 0;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position: 0 0;
}
.chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid #ccc;
  background-color: #e4e4e4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  color: #666;
}
.chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #d4d4d4;
}
.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px;
}
.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid $primary-color
}
.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #af9a80;
  cursor: default;
}

/* @end */
/* @group Active  */
.chosen-container-active .chosen-single {
  border: none;
  box-shadow: none;
}
.chosen-container-active.chosen-with-drop .chosen-single {
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: $primary-color;
}
.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: none;
  background: transparent;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 2px;
}
.chosen-container-active .chosen-choices {
  border: none;
  box-shadow: none;
  border-bottom: 1px solid $primary-color;
}
.chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: $primary-color !important;
}

/* @end */
/* @group Disabled Support */
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
}
.chosen-disabled .chosen-single {
  cursor: default;
}
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}

// Footer
//––––––––––––––––––––––––––––––––––––––––––––––––––

#footer{
    //padding-top: 20.8rem;
    padding-bottom: 14rem;
    @media (max-width: 1200px){
        padding-bottom: 9rem;
    }
    @media screen and (max-width: 768px) {
        padding: 0 3rem 9rem;
        .container{
            padding: 0;
        }
    }
    h3, p{
        font-size: 1.6rem;
        line-height: 1.9rem;
        letter-spacing: 0.02rem;
        font-family: $font-light;
        font-weight: normal;
        margin: 0;
    }
}

.soto-page{
    #footer{
        padding-top: 0;
    }
}

// Links
//––––––––––––––––––––––––––––––––––––––––––––––––––

a {
  color: $link-color;
  &:hover {
    color: darken($link-color, 5%);
  }
}

// Misc
//––––––––––––––––––––––––––––––––––––––––––––––––––

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid $light-grey;
}
