{% extends "_soon" %}
{% set title = "Maintenance" %}

{% block content %}

	<div class="container introCont">
		<div class="row">
			<div class="col-lg-12">
				<h1>Maintenance</h1>
				<p>We'll be back soon</p>
			</div>
		</div>
	</div>

{% endblock %}
