<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<meta name="description" content="Soto offers a collection of thoughtful Residences and Pavilions, designed for living well." />
    <link rel="shortcut icon" href="/favicon.ico" >

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

	<meta property="og:title" content="Soto"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="https://soto.co.nz/"/>
	<meta property="og:description" content="Soto offers a collection of thoughtful Residences and Pavilions, designed for living well."/>
	<meta property="og:image" content="https://soto.co.nz/assets/img/social.jpg"/>
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="630" />
	<meta property="og:site_name" content="Soto"/>

	{% includeCssFile "/assets/styles/site.css?v=5.0" %}
	{% includeCssFile "/royalslider/royalslider.css" %}
	{% includeCssFile "/assets/styles/vendor.min.css" %}

	{# Jquery 2.0.3 #}
	{% includeJsFile "/assets/js/jquery.min.js" %}

	{% includeJsFile "/assets/js/main.min.js?v=5.0" %}
	{% includeJsFile "/royalslider/jquery.royalslider.min.js" %}
	{% includeJsFile "/assets/js/vendor.min.js" %}
	{% includeJsFile "/assets/js/jquery.autocomplete.min.js" %}
	{% includeJsFile "/assets/js/gs.js" %}
	{% includeJsFile "/assets/js/jquery.validate.min.js" %}
</head>
{% if entry is defined %}
<body id="top" class="{{ entry.title|lower }}-page">
{% endif %}
	<div id="container">
		<header id="header">
			<nav class="regMen">
				<div class="reg hidden-xs">
					<div class="but register">
						<span>
							Register
						</span>
					</div>
				</div>
				<div class="reg hidden-sm hidden-md hidden-lg">
					<div>
						<span>
							<a href="/contact-and-register">Register</a>
						</span>
					</div>
				</div>
				<div class="men">
					<div class="menu but">
						<span>
							Menu
						</span>
						<div id="navIcon">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
				</div>
			</nav>
		</header>

		<div class="galleryLabel">
			Gallery
		</div>

		<div class="sotoLink">
			<a href="/">Soto</a>
		</div>

		<div class="upArrow">
			<a href="#top" data-ps2id-offset="0"><img src="/assets/img/up-arrow.svg" alt="Scroll" title="Scroll" /></a>
		</div>

		{% set pages = craft.entries.section('pages') %}

		<div class="fullMenu">
			<nav class="regMen">
				<div class="reg">
					Menu
				</div>
				<div class="men">
					<div class="menu but clo">
					Close
					</div>
				</div>
			</nav>
			<div class="container">
				<nav class="row gation">
					<ul class="col-lg-12 hidden-xs">
						<li>
							<a href="/">Soto</a>
						</li>
						<li>
							<a href="/residences-and-pavilions">Residences and Pavilions</a>
						</li>
						<li>
							<a href="/design-story">Design Story</a>
						</li>
						<li>
							<a href="/location">Location</a>
						</li>
						<li class="register">
							Contact and Register
						</li>
						<li>
							<a href="/gallery">Gallery</a>
						</li>
					</ul>
					<ul class="col-lg-12 hidden-sm hidden-md hidden-lg">
						<li>
							<a href="/">Soto</a>
						</li>
						<li>
							<a href="/residences-and-pavilions">Residences and Pavilions</a>
						</li>
						<li>
							<a href="/design-story">Design Story</a>
						</li>
						<li>
							<a href="/location">Location</a>
						</li>
						<li>
							<a href="/contact-and-register">Contact and Register</a>
						</li>
						<li>
							<a href="/gallery">Gallery</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>

		<main id="content" role="main">
			{% block content %}

			{% endblock %}
		</main>

		<footer id="footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
					</div>
				</div>
			</div>
		</footer>
	</div>
</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-104427300-1', 'auto');
  ga('send', 'pageview');

</script>
</html>
