<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<meta name="description" content="Soto offers a collection of thoughtful Residences and Pavilions, designed for living well." />
    <link rel="shortcut icon" href="/favicon.ico" >

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

	<meta property="og:title" content="Soto"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="https://soto.co.nz/"/>
	<meta property="og:description" content="Soto offers a collection of thoughtful Residences and Pavilions, designed for living well."/>
	<meta property="og:image" content="https://soto.co.nz/assets/img/social.jpg"/>
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="630" />
	<meta property="og:site_name" content="Soto"/>

	{% includeCssFile "/assets/styles/site.css?v=5.1" %}
	{% includeCssFile "/royalslider/royalslider.css" %}
	{% includeCssFile "/assets/styles/vendor.min.css" %}

	{# Jquery 2.0.3 #}
	{% includeJsFile "/assets/js/jquery.min.js" %}

	{% includeJsFile "/assets/js/main.min.js?v=5.0" %}
	{% includeJsFile "/royalslider/jquery.royalslider.min.js" %}
	{% includeJsFile "/assets/js/vendor.min.js" %}
	{% includeJsFile "/assets/js/jquery.autocomplete.min.js" %}
	{% includeJsFile "/assets/js/gs.js" %}
	{% includeJsFile "/assets/js/jquery.validate.min.js" %}

	<!-- Facebook Pixel Code -->
	<script>
	!function(f,b,e,v,n,t,s)
	{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];
	s.parentNode.insertBefore(t,s)}(window,document,'script',
	'https://connect.facebook.net/en_US/fbevents.js');
	 fbq('init', '1379797912069732');
	fbq('track', 'PageView');
	</script>
	<noscript>
	 <img height="1" width="1"
	src="https://www.facebook.com/tr?id=1379797912069732&ev=PageView
	&noscript=1"/>
	</noscript>
	<!-- End Facebook Pixel Code -->

</head>
{% if entry is defined %}
<body id="top" class="{{ entry.title|lower }}-page">
{% endif %}
	<div id="container">
		<header id="header">
			<nav class="regMen">
				<div class="reg hidden-xs">
					<div class="but register">
						<span>
							Register
						</span>
					</div>
				</div>
				<div class="reg hidden-sm hidden-md hidden-lg">
					<div>
						<span>
							<a href="/contact-and-register">Register</a>
						</span>
					</div>
				</div>
				<div class="men">
					<div class="menu but">
						<span>
							Menu
						</span>
						<div id="navIcon">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
				</div>
			</nav>
		</header>

		<div class="galleryLabel">
			Gallery
		</div>

		<div class="sotoLink">
			<a href="/">Soto</a>
		</div>

		<div class="upArrow">
			<a href="#top" data-ps2id-offset="0"><img src="/assets/img/up-arrow.svg" alt="Scroll" title="Scroll" /></a>
		</div>

		{% set pages = craft.entries.section('pages') %}

		<div class="fullMenu">
			<nav class="regMen">
				<div class="reg">
					Menu
				</div>
				<div class="men">
					<div class="menu but clo">
					Close
					</div>
				</div>
			</nav>
			<div class="container">
				<nav class="row gation">
					<ul class="col-lg-12 hidden-xs">
						<li>
							<a href="/">Soto</a>
						</li>
						<li>
							<a href="/residences-and-pavilions">Residences and Pavilions</a>
						</li>
						<li>
							<a href="/design-story">Design Story</a>
						</li>
						<li>
							<a href="/location">Location</a>
						</li>
						<li class="register">
							Contact and Register
						</li>
						<li>
							<a href="/gallery">Gallery</a>
						</li>
					</ul>
					<ul class="col-lg-12 hidden-sm hidden-md hidden-lg">
						<li>
							<a href="/">Soto</a>
						</li>
						<li>
							<a href="/residences-and-pavilions">Residences and Pavilions</a>
						</li>
						<li>
							<a href="/design-story">Design Story</a>
						</li>
						<li>
							<a href="/location">Location</a>
						</li>
						<li>
							<a href="/contact-and-register">Contact and Register</a>
						</li>
						<li>
							<a href="/gallery">Gallery</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>

		<div class="registerMenu">
			<div class="regClose">
				<p>Close</p>
				<div id="regNavIcon">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
			<div class="contactDetails">
				{% set contact = craft.entries.section('pages').type('contactAndRegister') %}
				{% for entry in contact %}
                <h1>{{ entry.introTitle }}</h1>
                <p class="contactTitle">Sales Enquiries</p>
                <p>{{ entry.phone }}</p>
                {#<p class="contactTitle">Display Suite Open</p>
                <p>{{ entry.openHours|nl2br }}</p>#}

                {% if entry.map|length %}
				    {% for asset in entry.map %}
                        <p class="contactTitle">
				             <a href="{{ asset.url }}" target="_blank" rel="noreferrer noopener" >Download Map</a>
                        </p>
				    {% endfor %}
				{% endif %}
                <p>{{ entry.location|nl2br }}</p>
				{% endfor %}

                <h2>Register your interest</h2>
                <form accept-charset="UTF-8" action="https://www.colliersform.co.nz/sign-up" method="POST" id="DesktopForm" class="hidden-xs" autocomplete="off">
					<input type="hidden" name="{{ craft.config.csrfTokenName }}" value="{{ craft.request.csrfToken }}">
					<input type="hidden" name="utf8" value="✓">
                    <input type="hidden" name="redirect" value="https://soto.co.nz/confirmation"/>
                    <input type="hidden" name="Project" value="SOTO">
    				<div class="row">
    					<div class="col-lg-6">
    						<input type="text" name="FirstName" placeholder="First Name">
    					</div>
    					<div class="col-lg-6">
    						<input type="text" name="LasteName" placeholder="Last Name">
    					</div>
    				</div>
    				<input type="email" name="Emailaddress" id="email" placeholder="Email">
    				<input type="tel" name="PhoneNumber" placeholder="Phone">
    				<input type="text" name="Suburb" id="Suburb" placeholder="Suburb">
    				<input type="text" name="State" id="State" placeholder="City">

					<h4 class="selectOpt hidden-sm hidden-md hidden-lg">How did you hear about Soto</h4>

    				<select name="hearaboutus" data-placeholder="How did you hear about Soto" id="choose-one" class="chosen-select" multiple="multiple">
                        <option></option>
                        <option value="Colliers International">Colliers International</option>
                        <option value="NZ Herald">NZ Herald</option>
                        <option value="Denizen">Denizen</option>
                        <option value="Property Press">Property Press</option>
                        <option value="Radio">Radio</option>
                        <option value="Facebook">Facebook</option>
                        <option value="trademe.co.nz">trademe.co.nz</option>
                        <option value="realestate.co.nz">realestate.co.nz</option>
                        <option value="nzherald.co.nz">nzherald.co.nz</option>
                        <option value="stuff.co.nz">stuff.co.nz</option>
                        <option value="google.co.nz">google.co.nz</option>
                        <option value="hougarden.com">hougarden.com</option>
                        <option value="Signage">Signage</option>
                        <option value="Referral">Referral</option>
                        <option value="Paperboy">Paperboy</option>
                        <option value="Central Leader">Central Leader</option>
                        <option value="East and Bays Courier">East &amp; Bays Courier</option>
                        <option value="The Hobson Magazine">The Hobson Magazine</option>
                        <option value="Other">Other</option>
    	            </select>

					<h4 class="selectOpt hidden-sm hidden-md hidden-lg">Purchase Intention</h4>

                    <select name="PropertyUse" data-placeholder="Purchase Intention" id="choose-two" class="chosen-select final" multiple="multiple">
    					<option></option>
    					<option value="Principal place of residence">Owner Occupier</option>
    					<option value="Investment property">Investor</option>
						<option value="First Home Buyer">First Home Buyer</option>
    	            </select>

                    <h3>Interested In</h3>

                    <ul class="purchIntBud">
                        <li>
                            <input type="radio" name="Noofbedrooms" value="1" id="one-bed" class="valueChangedOne">
                            <label for="one-bed">1 Bedroom</label>
                        </li>
                        <li>
                            <input type="radio" name="Noofbedrooms" value="99" id="one-bed-multi" class="valueChangedTwoOne">
                            <label for="one-bed-multi">1 Bedroom + Multi-purpose room</label>
                        </li>
                        <li>
                            <input type="radio" name="Noofbedrooms" value="2" id="two-bed" class="valueChangedTwoTwo">
                            <label for="two-bed">2 Bedrooms</label>
                        </li>
                        <li>
                            <input type="radio" name="Noofbedrooms" value="3" id="three-bed" class="valueChangedTwoThree">
                            <label for="three-bed">3 Bedrooms</label>
                        </li>
                    </ul>

                    <h3 class="budget remove">Budget Indication</h3>

                    <ul class="purchIntBud">
                        <li class="price-range-a remove">
                            <input type="radio" name="Minpreferredpricerange" value="$600,000 - $800,000" id="600-800">
                            <label for="600-800">$600,000 - $800,000</label>
                        </li>
                        <li class="price-range-a remove">
                            <input type="radio" name="Minpreferredpricerange" value="$800,000 - $1,000,000" id="800-1000-a">
                            <label for="800-1000-a">$800,000 - $1,000,000</label>
                        </li>
                        <li class="price-range-b remove">
                            <input type="radio" name="Minpreferredpricerange" value="$800,000 - $1,000,000" id="800-1000-b">
                            <label for="800-1000-b">$800,000 - $1,000,000</label>
                        </li>
                        <li class="price-range-b remove">
                            <input type="radio" name="Minpreferredpricerange" value="$1,000,000 - $1,200,000" id="1000-1200-b">
                            <label for="1000-1200-b">$1,000,000 - $1,200,000</label>
                        </li>
                        <li class="price-range-b remove">
                            <input type="radio" name="Minpreferredpricerange" value="$1,200,000 - $1,400,000" id="1200-1400">
                            <label for="1200-1400">$1,200,000 - $1,400,000</label>
                        </li>
                        <li class="price-range-c remove">
                            <input type="radio" name="Minpreferredpricerange" value="$1,500,000 - $2,000,000" id="1500-2000">
                            <label for="1500-2000">$1,500,000 - $2,000,000</label>
                        </li>
                        <li class="price-range-c remove">
                            <input type="radio" name="Minpreferredpricerange" value="$2,000,000 - $2,500,000" id="2000-2500">
                            <label for="2000-2500">$2,000,000 - $2,500,000</label>
                        </li>
                        <li class="price-range-c remove">
                            <input type="radio" name="Minpreferredpricerange" value="$2,500,000 - $3,000,000" id="2500-3000">
                            <label for="2500-3000">$2,500,000 - $3,000,000</label>
                        </li>
                        <li class="price-range-d remove">
                            <input type="radio" name="Minpreferredpricerange" value="$2,000,000 - $3,000,000" id="2000-3000">
                            <label for="2000-3000">$2,000,000 - $3,000,000</label>
                        </li>
                        <li class="price-range-d remove">
                            <input type="radio" name="Minpreferredpricerange" value="$3,000,000 - $4,000,000" id="3000-4000">
                            <label for="3000-4000">$3,000,000 - $4,000,000</label>
                        </li>
                        <li class="price-range-d remove">
                            <input type="radio" name="Minpreferredpricerange" value="$4,000,000 - $5,000,000" id="4000-5000">
                            <label for="4000-5000">$4,000,000 - $5,000,000</label>
                        </li>
                    </ul>

                    <div id="errordivDesktopForm">
        		    </div>

                    <button type="submit" id="submitButton">Submit</button>
					{% for entry in contact %}
						<p class="small">{{ entry.disclaimer }}</p>
					{% endfor %}

					<div class="partnerLogos">
						<img src="/assets/img/colliers-logo.png" class="colliers partners" alt="Colliers International" title="Colliers International" />
						<img src="/assets/img/southside-logo.png" class="southside partners" alt="Southside" title="Southside" />
					</div>

					<div class="social">
						<a href="https://www.facebook.com/SotoResidences/" target="_blank" rel="noreferrer noopener">Facebook</a> &nbsp;&nbsp; <a href="https://www.instagram.com/soto_residences/" target="_blank" rel="noreferrer noopener">Instagram</a>
					</div>

    			</form>
            </div>
		</div>

		<main id="content" role="main">
			{% block content %}

			{% endblock %}
		</main>

		<footer id="footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
					</div>
				</div>
			</div>
		</footer>
	</div>
</body>

<script>
	$(window).load(function() {
	     // update size of slider (if you already initialized it before)
	     $('.royalSlider').royalSlider('updateSliderSize', true);
	});
	$(document).ready(function(){
		// Image slider options
		$('.royalSlider').royalSlider({
			autoScaleSlider: true,
			autoHeight: true,
			arrowsNav: true,
			imageAlignCenter: false,
			globalCaption: true,
			controlNavigation: 'none',
			controlsInside: false,
			imageScaleMode: 'none',
			keyboardNavEnabled: true,
			slidesSpacing: 200,
			usePreloader: false,
			transitionSpeed: 600,
			transitionType: 'slide',
			sliderDrag: true,
			loop: true,
			loopRewind: false,
			autoPlay: {
				enabled: false
			}
		});
		//$('.royalSlider').royalSlider('updateSliderSize', true);
		$('.royalSlider').each(function() {
			var slider = $(this);
			var sliderInstance = slider.data('royalSlider');
			if(sliderInstance) {
				var slideCounter = $('<div class="rsSlideCount"></div>').appendTo( slider );
				var updCount = function () {
					slideCounter.html( (sliderInstance.currSlideId+1) + ' / ' + sliderInstance.numSlides );
				}
				sliderInstance.ev.on('rsAfterSlideChange', updCount);
				updCount();
			}
		});
	});
</script>

<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Soto Remarketing
URL of the web page where the tag is expected to be placed: https://www.soto.co.nz/
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 09/27/2017
-->
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="https://6100422.fls.doubleclick.net/activityi;src=6100422;type=sotor0;cat=sotor0;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="https://6100422.fls.doubleclick.net/activityi;src=6100422;type=sotor0;cat=sotor0;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-104427300-1', 'auto');
  ga('send', 'pageview');

</script>
</html>
