<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />

    <link rel="shortcut icon" href="/favicon.ico" >

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

	{% includeCssFile "/assets/styles/site.css?v=2.0" %}
	{% includeCssFile "/assets/styles/vendor.min.css" %}

	{# Jquery 2.0.3 #}
	{% includeJsFile "/assets/js/jquery.min.js" %}

	{% includeJsFile "/assets/js/main.min.js?v=2.0" %}
	{% includeJsFile "/assets/js/vendor.min.js" %}

</head>
{% if entry is defined %}
<body id="top" class="{{ entry.title|lower }}-page">
{% endif %}
	<div id="container">
		<div class="sotoLink">
			<a href="/">Soto</a>
		</div>

		<main id="content" role="main">
			{% block content %}

			{% endblock %}
		</main>
		
	</div>
</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-104427300-1', 'auto');
  ga('send', 'pageview');

</script>
</html>
