{% extends "_layout" %}

{% block content %}

	<div class="imgIntro">
		{% set image = entry.introImage.first() %}
		{% set mobileImage = entry.mobileIntroImage.first() %}

		<a href="{{ image.url('generalLandscape') }}" class="swipebox hiddenSwipe">
			<img class="hiddenSwipe" src="{{ image.getUrl('intro') }}" alt="{{ entry.introCaption }}" title="{{ entry.introCaption }}" />
		</a>
		<img src="{{ mobileImage.getUrl('') }}" alt="{{ entry.introCaption }}" title="{{ entry.introCaption }}" />
		<div class="downArrow">
			<a href="#intro" data-ps2id-offset="200"><img src="/assets/img/down-arrow.svg" alt="Scroll" title="Scroll" /></a>
		</div>
		{% set introCss %}
			.imgIntro{
				background: url('{{ image.getUrl('intro') }}') no-repeat center center;
				background-size: cover;
				height: 100vh;
			}
		{% endset %}
		{% includeCss introCss first %}
	</div>

	<div id="intro" class="container introCont">
		<div class="row">
			<div class="col-xs-12 soto sotoLogo hidden-sm hidden-md hidden-lg wow fadeInDown" data-wow-delay="0.2s">
				<svg width="104px" viewBox="621 205 104 681" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				    <g id="soto" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(621.666486, 205.794862)">
				        <path d="M0.0537377153,679.464631 L102.794593,679.464631 L102.794593,582.595329 L0.0537377153,582.595329 L0.0537377153,679.464631 Z M13.5277627,666.058486 L89.3205677,666.058486 L89.3205677,595.995818 L13.5277627,595.995818 L13.5277627,666.058486 Z" id="Fill-1" fill="#8B6E4A"></path>
				        <polygon id="o" fill="#8B6E4A" points="58.1614606 388.619147 44.6846072 388.619147 0.00028283008 388.619147 0.00028283008 402.022464 44.6846072 402.022464 44.6846072 485.494106 58.1614606 485.494106 58.1614606 402.022464 102.845785 402.022464 102.845785 388.619147"></polygon>
				        <path d="M0.0537377153,291.517923 L102.794593,291.517923 L102.794593,194.648621 L0.0537377153,194.648621 L0.0537377153,291.517923 Z M13.5277627,278.111777 L89.3205677,278.111777 L89.3205677,208.04911 L13.5277627,208.04911 L13.5277627,278.111777 Z" id="Fill-3" fill="#8B6E4A"></path>
				        <polygon id="o" fill="#8B6E4A" points="0.00254547072 0.671589944 0.00254547072 54.426275 89.2665471 54.426275 89.2665471 84.0385844 0.00254547072 84.0385844 0.00254547072 97.5437208 102.845219 97.5437208 102.845219 41.0257858 13.4765705 41.0257858 13.4765705 14.0749075 102.845219 14.0749075 102.845219 0.671589944"></polygon>
				    </g>
				</svg>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 wow fadeInDown" data-wow-delay="0.4s">
				<h1>{{ entry.introTitle }}</h1>
				<p>{{ entry.introParagraph }}</p>
			</div>
			<div class="col-sm-4 col-md-4 col-lg-4 soto hidden-xs wow fadeInDown" data-wow-delay="1s">
				<svg width="104px" viewBox="621 205 104 681" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				    <g id="soto" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(621.666486, 205.794862)">
				        <path d="M0.0537377153,679.464631 L102.794593,679.464631 L102.794593,582.595329 L0.0537377153,582.595329 L0.0537377153,679.464631 Z M13.5277627,666.058486 L89.3205677,666.058486 L89.3205677,595.995818 L13.5277627,595.995818 L13.5277627,666.058486 Z" id="Fill-1" fill="#8B6E4A"></path>
				        <polygon id="o" fill="#8B6E4A" points="58.1614606 388.619147 44.6846072 388.619147 0.00028283008 388.619147 0.00028283008 402.022464 44.6846072 402.022464 44.6846072 485.494106 58.1614606 485.494106 58.1614606 402.022464 102.845785 402.022464 102.845785 388.619147"></polygon>
				        <path d="M0.0537377153,291.517923 L102.794593,291.517923 L102.794593,194.648621 L0.0537377153,194.648621 L0.0537377153,291.517923 Z M13.5277627,278.111777 L89.3205677,278.111777 L89.3205677,208.04911 L13.5277627,208.04911 L13.5277627,278.111777 Z" id="Fill-3" fill="#8B6E4A"></path>
				        <polygon id="o" fill="#8B6E4A" points="0.00254547072 0.671589944 0.00254547072 54.426275 89.2665471 54.426275 89.2665471 84.0385844 0.00254547072 84.0385844 0.00254547072 97.5437208 102.845219 97.5437208 102.845219 41.0257858 13.4765705 41.0257858 13.4765705 14.0749075 102.845219 14.0749075 102.845219 0.671589944"></polygon>
				    </g>
				</svg>
			</div>
		</div>
	</div>

	<div class="container-fluid whiteGallery">
		<div class="row">
			<div class="col-lg-12">
				<ul class="royalSlider rsDefault hidden-xs">
				{% for block in entry.horizontalGallery %}
					{% set images = block.galleryImage %}
					{% if images and images|length %}
					{% for image in images %}
					{% set mode = (image.getWidth() > image.getHeight()) ? "landscape" : "portrait" %}
						<li class="{{ mode }}">
								<img src="{{ image.getUrl('generalLandscape') }}" title="{{ block.galleryCaption }}" alt="{{ block.galleryCaption }}">
							{% endfor %}
							<div class="container rsCaption">
								<div class="row">
									<div class="col-xs-6 col-md-6 col-lg-6">
									</div>
									<div class="col-xs-2 col-md-2 col-lg-2 imgCapt">
										{{ entry.galleryFixedTitle }}
									</div>
									<div class="col-xs-4 col-md-4 col-lg-4">
										{{ block.galleryCaption }}
									</div>
								</div>
							</div>
						</li>
					{% endif %}
				{% endfor %}
				</ul>
				<ul class="hidden-sm hidden-md hidden-lg mobileSlider">
				{% for block in entry.horizontalGallery %}
					{% set images = block.galleryImage %}
					{% if images and images|length %}
					{% for image in images %}
					{% set mode = (image.getWidth() > image.getHeight()) ? "landscape" : "portrait" %}
						<li class="{{ mode }}">
								<img src="{{ image.getUrl('generalLandscape') }}" title="{{ block.galleryCaption }}" alt="{{ block.galleryCaption }}">
							{% endfor %}
							<div class="container rsCaption">
								<div class="row">
									<div class="col-xs-6">
										{{ entry.galleryFixedTitle }}
									</div>
									<div class="col-xs-6 imgCapt">
										{{ block.galleryCaption }}
									</div>
								</div>
							</div>
						</li>
					{% endif %}
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>

	<div class="container-fluid contGridTitle">
		<div class="row gridTitle">
			<div class="col-lg-12">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-lg-6">
						</div>
						<div class="col-xs-6 col-md-2 col-lg-2 imgCapt wow fadeInDown" data-wow-delay="0.4s">
							{{ entry.gridTitle }}
						</div>
						<div class="col-xs-6 col-md-4 col-lg-4 wow fadeInDown" data-wow-delay="0.4s">
							{{ entry.gridTitleTwo }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container introCont botGrid solo">
		<div class="row">
			<div class="col-md-1 col-lg-1">
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 soloLeft wow fadeInDown" data-wow-delay="0.4s">
				{% if entry.standAloneImageOne|length %}
				    {% for asset in entry.standAloneImageOne %}
						<div class="soloWrap">
							<a href="{{ asset.url('generalLandscape') }}" class="swipebox">
				        		<img src="{{ asset.url('generalLandscape') }}" alt="{{ entry.standAloneImageTitleOne }}" title="{{ entry.standAloneImageTitleOne }}" />
								<div class="soloOverlay"></div>
							</a>
						</div>
				    {% endfor %}
				{% endif %}
			</div>
			<div class="col-sm-1 col-md-1 col-lg-1">
			</div>
			<div class="col-xs-12 col-md-3 col-lg-3 soloRight wow fadeInDown" data-wow-delay="0.4s">
				{% if entry.standAloneImageTwo|length %}
				    {% for asset in entry.standAloneImageTwo %}
						<div class="soloWrap">
							<a href="{{ asset.url('generalPortrait') }}" class="swipebox">
					        	<img src="{{ asset.url('generalPortrait') }}" alt="{{ entry.standAloneImageTitleTwo }}" title="{{ entry.standAloneImageTitleTwo }}" />
								<div class="soloOverlay"></div>
							</a>
						</div>
				    {% endfor %}
				{% endif %}
			</div>
			<div class="col-md-1 col-lg-1">
			</div>
		</div>
	</div>

{% endblock %}
